# Data & Feature Store
feast[redis]
great_expectations
pandas
numpy
boto3

# ML
scikit-learn
lightgbm
xgboost
catboost
mlflow

# Orchestration
dagster
dagster-webserver

# Serving
fastapi
uvicorn[standard]

# Monitoring
prometheus-client
evidently<0.5

# Streaming
confluent-kafka

# Spark
pyspark==4.1.2

# Config
pyyaml
loguru
python-dotenv